{% extends 'base.html.twig' %}

{% block header_img %}{% endblock %}

{% block header_title %}
    <h1>Liste des utilisateurs</h1>
{% endblock %}

{% block body %}
    {% if tasks == 0 %}
        <div class="alert alert-warning" role="alert">
            Il n'y a pas de Tache anonyme enregistrés.
        </div>
    {% else %}
        <div class="row">
            <div class="col-1">
                <nav class="nav flex-column">
                    {% if app.user %}
                        {% if 'ROLE_ADMIN' in app.user.roles %}
                            <a class="nav-link" href="{{ path('user_list_admin') }}">Utilisateurs (admin)</a>
                        {% endif %}
                        {% if 'ROLE_MANAGER' in app.user.roles %}
                            <a class="nav-link" href="{{ path('user_list_manager') }}">Utilisateurs (manager)</a>
                        {% endif %}
                    {% endif %}
                    <a class="nav-link" href="{{ path('task_list_anonyme') }}">Tache anonyme</a>
                    <a class="nav-link disabled" href="#">Link</a>
                    <a class="nav-link disabled" href="#">Disabled</a>
                </nav>
            </div>
            <div class="col-10">
                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Titre</th>
                        <th>Contenue</th>
                        <th>Statut</th>
                        <th>Utilisateur</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for task in tasks %}
                        <tr>
                            <th scope="row">{{ loop.index }}</th>
                            <td>{{ task.title }}</td>
                            <td>{{ task.content|slice(0, 120) }}{% if task.content|length > 120 %}…{% endif %}</td>
                            <td>{{ task.isDone ? 'Oui' : 'Non' }}</td>
                            <td>Anonyme</td>
                            <td class="d-flex">
                                <a href="{{ path('task_delete', { id: task.id }) }}"
                                   class="btn btn-danger btn-sm m-1">Supprimer cette tache</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
{% endblock %}
